body{
background-image: url("../imagenes/background.jpg");
}

.jumbotron{
text-align: center;
background-color: transparent;
}

.display-4{
	font-weight: 800;
}

footer{
	padding: 40px 10px 5px 10px;
	margin-top: 10px;
	background-color: rgba(276, 175, 80, 0.95);
}

footer p{
 font-weight: 600;
}

.perro{
	flex: 1 250px;
	padding: 5px;
}

.perro img{
	width:100%;
	margin-bottom: 5px;
}

.perro p{
	font-weight: 600;
}

.tipos h2{
	margin-top:20px;
}

.tipos p{
	margin-bottom: 20px;
	font-size: 1.1em;
}

.main{
	background-color: rgb(220,220,220, 0.9);
}

.btn-vote{
	width: 100%;
}

